<!-- Made Tuesday, 2-6-24 -->
<html>
    <head>
        <title>NFL Draft - Results</title>
        <link rel="stylesheet" href="../style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <%- include( '../../partials/message' )%>
        <div id="main" class="page" style="flex-wrap: wrap;gap:1em;">
            <div id="head">
                <div id="pick_draft_season" class="head_sub">
                    <label for="draft_pick">Draft Season:<br></label>
                    <select id="draft_cat" name="draft_pick">
                    </select>
                </div>
                
                <div id="pick_sorted" class="head_sub">
                    <div style="color:white;font-size: 20px;font-weight: bold;">Sorted?</div>
                    <select id="sort" style="text-align: center;">
                        <option value="sort">Sort</option>
                        <option value="unsort">Un-Sorted</option>
                    </select>
                </div>
            </div>
        </div>
        <script src="end_in.js"></script>
    </body>
</html>