<!-- Made Tuesday, 2-6-24 -->
<html>
    <head>
        <title>NFL Draft - Results</title>
        <link rel="stylesheet" href="../style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <style>
            
        </style>
        <div id="main" class="page" style="flex-wrap: wrap;gap:1em;">
            <div id="head">
                <div id="pick_draft_season" class="head_sub">
                    <label for="draft_pick">Draft Season:<br></label>
                    <select id="draft_cat" name="draft_pick">
                    </select>
                </div>
                <div id="pick_sorted" class="head_sub">
                    <div style="color:white;font-size: 20px;font-weight: bold;">Sorted?</div>
                    <label for="unsort">Un-Sorted</label>
                    <input type="radio" id="unsort" name="sorted" value="false" checked>
                    <br>
                    <label for="sort">Sorted</label>
                    <input type="radio" id="sort" name="sorted" value="true">
                </div>
            </div>
        </div>
        <script src="end_in.js"></script>
    </body>
</html>